In [2]:
import pandas as pd

In [3]:
import os
os.getcwd()

'C:\\Users\\Andy\\Documents\\Ironhack\\Labs\\Week1\\lab-customer-analysis-round-3'

In [4]:
marketing_customers = pd.read_csv('files_for_lab//csv_files//marketing_customer_analysis.csv')

In [5]:
marketing_customers.shape

(9134, 24)

In [6]:
# remove Unnamed: 0
marketing_customers = marketing_customers.drop(columns=['Unnamed: 0'])

# drop to lower case
marketing_customers.columns = list(map(lambda x:x.lower(),marketing_customers.columns))

KeyError: "['Unnamed: 0'] not found in axis"

In [ ]:
marketing_customers.dtypes

In [ ]:
summary = pd.concat([marketing_customers.isna().sum(), round(marketing_customers.isna().sum()/len(marketing_customers),4)*100 ],axis=1)
summary = summary.set_axis(['Null Volumes','Null %'], axis=1)

summary[summary['Null Volumes']>0]

## Actions to take:

#### State - delete or set to unknown
#### Response - delete or set to unknown

#### Months since last claim - ***not checked, though likely set to 0 or an average***
#### Number of open complaints - ***not check, though likely set to 0 or an average***

#### Vehicle class - set nulls to 'Four-Door Car'
#### Vehicle size - set nulls to 'Medsize'

#### Vehicle type - keep but be mindful that it is 50% null values

In [ ]:
# actions for handling nulls

# delete    df = df[<filter>]
#marketing_customers = marketing_customers[marketing_customers['state'].isna()==False]
#marketing_customers = marketing_customers[marketing_customers['state']!='Unknown']
#above would also apply to resposne anyway

# fill in another value    .fillna(<value>)
marketing_customers['state'] = marketing_customers['state'].fillna('Unknown')
marketing_customers['response'] = marketing_customers['response'].fillna('Unknown')

#marketing_customers['months since last claim'] = marketing_customers['months since last claim'].fillna(0)
#marketing_customers['number of open complaints'] = marketing_customers['number of open complaints'].fillna(0)
# or
marketing_customers['months since last claim'] = marketing_customers['months since last claim'].fillna(marketing_customers['months since last claim'].mean())
marketing_customers['number of open complaints'] = marketing_customers['number of open complaints'].fillna(marketing_customers['number of open complaints'].mean())

marketing_customers['vehicle class'] = marketing_customers['vehicle class'].fillna('Four-Door Car')
marketing_customers['vehicle size'] = marketing_customers['vehicle size'].fillna('Medsize')

In [ ]:
pd.set_option('max_columns',25)
print("-----state-----")
print(marketing_customers['state'].value_counts())
print("Null count: " + str(len(marketing_customers[marketing_customers['state'].isna()])))
print("")
#marketing_customers[marketing_customers['state'].isna() & marketing_customers['response'].isna()]

# When state is null response is also null

In [ ]:
pd.set_option('max_columns',25)
print("-----response-----")
print(marketing_customers['response'].value_counts())
print("Null count: " + str(len(marketing_customers[marketing_customers['response'].isna()])))
print("")

In [ ]:
pd.set_option('max_columns',25)
print("-----months since last claim-----")
print(marketing_customers['months since last claim'].value_counts())
print("Null count: " + str(len(marketing_customers[marketing_customers['months since last claim'].isna()])))
print("")
print(len(marketing_customers[marketing_customers['months since last claim'].isna()]))
print(len(marketing_customers[marketing_customers['months since last claim'].isna() & marketing_customers['number of open complaints'].isna()]))

# When 'months since last claim' is null 'number of open complaints' is also null

In [ ]:
pd.set_option('max_columns',25)
print("-----vehicle class-----")
print(marketing_customers['vehicle class'].value_counts())
print("Null count: " + str(len(marketing_customers[marketing_customers['vehicle class'].isna()])))
print("")
print(len(marketing_customers[marketing_customers['vehicle class'].isna()]))
print(len(marketing_customers[marketing_customers['vehicle class'].isna() & marketing_customers['vehicle size'].isna()]))

# When 'vehicle class' is null 'vehcile size' is also null

In [ ]:
pd.set_option('max_columns',25)
print("-----vehicle size-----")
print(marketing_customers['vehicle size'].value_counts())
print("Null count: " + str(len(marketing_customers[marketing_customers['vehicle size'].isna()])))
print("")

In [ ]:
effdate = pd.to_datetime(marketing_customers['effective to date'])

In [ ]:
effdate

In [ ]:
# example: df[(df['date'] > '2013-01-01') & (df['date'] < '2013-02-01')]

#marketing_customers['effective to date'] = pd.to_datetime(marketing_customers['effective to date'])
#marketing_customers.dtypes

marketing_customers[(marketing_customers['effective to date']>='2011-01-01') & (marketing_customers['effective to date'] < '2011-03-01')]
#print(marketing_customers['effective to date'].min())
#print(marketing_customers['effective to date'].max())

# data effectively already filter to first quarter as only jan/feb exist.

In [7]:
marketing_customers.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Customer,9134,9134,WZ92405,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,9134,5,California,3150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Lifetime Value,9134.0,NaN,NaN,NaN,8004.940475,6870.967608,1898.007675,3994.251794,5780.182197,8962.167041,83325.38119
Response,9134,2,No,7826,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Coverage,9134,3,Basic,5568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Education,9134,5,Bachelor,2748,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Effective To Date,9134,59,1/10/11,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmploymentStatus,9134,5,Employed,5698,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,9134,2,F,4658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Income,9134.0,NaN,NaN,NaN,37657.380009,30379.904734,0.0,0.0,33889.5,62320.0,99981.0
Location Code,9134,3,Suburban,5779,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marital Status,9134,3,Married,5298,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monthly Premium Auto,9134.0,NaN,NaN,NaN,93.219291,34.407967,61.0,68.0,83.0,109.0,298.0
Months Since Last Claim,9134.0,NaN,NaN,NaN,15.097,10.073257,0.0,6.0,14.0,23.0,35.0
Months Since Policy Inception,9134.0,NaN,NaN,NaN,48.064594,27.905991,0.0,24.0,48.0,71.0,99.0
Number of Open Complaints,9134.0,NaN,NaN,NaN,0.384388,0.910384,0.0,0.0,0.0,0.0,5.0
Number of Policies,9134.0,NaN,NaN,NaN,2.96617,2.390182,1.0,1.0,2.0,4.0,9.0
Policy Type,9134,3,Personal Auto,6788,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Policy,9134,9,Personal L3,3426,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Renew Offer Type,9134,4,Offer1,3752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sales Channel,9134,4,Agent,3477,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Claim Amount,9134.0,NaN,NaN,NaN,434.088794,290.500092,0.099007,272.258244,383.945434,547.514839,2893.239678
Vehicle Class,9134,6,Four-Door Car,4621,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vehicle Size,9134,3,Medsize,6424,NaN,NaN,NaN,NaN,NaN,NaN,NaN